-
	var _data = dataFooter || {
		supporters: [
			{
				logo: ''
			}, {
				logo: ''
			}, {
				logo: ''
			}, {
				logo: ''
			}, {
				logo: ''
			}
		]
	}

footer.home-footer
	a.brand-footer(href="https://www.typeisbeautiful.com/")
		h5.brand-copyright © 2007–2017, Type is Beautiful
		p.brand-desc A leading media project about typography, design and visual culture in Chinese. Established in 2007, we cover the short reporting and long-form essays on the related fields.
