-
	var _data = _dataHero || {
		gallery: [
			
		],
		
		text: '「Typography」十年前在中文世界是个陌生词眼，当今已然成为一个热门领域。TIB 也顺应着这轮社会和行业的变革，冀望以诚恳、严肃的态度，从无到有，为读者提供了关于文字设计和相关领域的崭新视角和故事。十年来，TIB 也从最初的文字内容延伸出成功的播客节目《字谈字畅》、TypeTour 和 TypeSchool 系列主题活动、上海活字等支持项目、以及协助翻译、出版了多本中文相关书籍、多个主题展览和讲座，成为中文世界推进文字设计文化的领先力量。'
	}

section.hero
	.hero-gallery
	
	p.hero-text= _data.text