extends ../_template

block var
	- var assetsPath = ""
	- var pageTitl = "十周年 · Type is Beautiful" + ""
	- var ogLink = "https://www.typeisbeautiful.com/10/"
	- var ogType = "website"    // "music.xxx", "video.xxx", "article", "book", "profile", "website"
	- var ogTitl = pageTitl
	- var ogDesc = pageDesc
	- var ogImag = `https://thetype.b0.upaiyun.com/tib10/og-image.jpg?v=${verTag}`
	- var twCard = "summary_large_image"    // "summary_large_image", "summary, "app", "player"
	- var twUser = "@thetype"
	- var bodyClass = "home"
	- var bodyClassModifier = ""
	//--- Data

block mainHeader
	include data/header
	include module/header

block mainBody
	include data/body
	include module/body

block mainFooter
	include data/footer
	include module/footer
