extends ../_template

block var
	- var assetsPath = ""
	- var pageTitl = "Tenth Anniversary · Type is Beautiful" + ""
	- var bodyClass = ""
	- var bodyClassModifier = ""
	//--- Data

block mainHeader
	include module/header

block mainBody
	include module/body

block mainFooter
	include module/footer
