extends ../_template

block var
	- var assetsPath = ""
	- var pageTitl = "Tenth Anniversary · Type is Beautiful" + ""
	- var bodyClass = "home"
	- var bodyClassModifier = ""
	//--- Data

block mainHeader
	include data/header
	include module/header

block mainBody
	include data/body
	include module/body

block mainFooter
	include data/footer
	include module/footer
