-
	var dataBody = {
		sponers: [
			{
				link: 'http://www.makefont.com/',
				logo: 'images/sponser-makefont.svg',
			}, {
				link: 'http://www.foundertype.com/',
				logo: 'images/sponser-founder.svg',
			}, {
				link: 'http://www.arphic.com/',
				logo: 'images/sponser-arphic.svg',
			}, {
				link: 'http://www.hanyi.com.cn/',
				logo: 'images/sponser-hanyi.svg',
			}, {
				link: 'http://www.monotype.com/',
				logo: 'images/sponser-monotype.svg',
			}
		],
		
		souvenir: {
			heading: '十周年纪念周边',
			list: [
				{
					thumb: 'images/souvenir-1.jpg',
					name:  'TIB10 · 纪念海报',
					price: '¥299.00',
					link:  'https://weidian.com/item.html?itemID=2112754402'
				}, {
					thumb: 'images/souvenir-2.jpg',
					name:  '上海活字 · Typeholder 海报',
					price: '¥299.00',
					link:  'https://weidian.com/item.html?itemID=2112838041'
				}, {
					thumb: 'images/souvenir-3.jpg',
					name:  '上海活字 · 铸字机海报',
					price: '¥299.00',
					link:  'https://weidian.com/item.html?itemID=2112836287'
				}, {
					thumb: 'images/souvenir-4.jpg',
					name:  '字谈字畅 · 播客主题海报',
					price: '¥299.00',
					link:  'https://weidian.com/item.html?itemID=2112779645'
				}, {
					thumb: 'images/souvenir-5.jpg',
					name:  '活字印刷明信片',
					price: '¥20.00',
					link:  'https://weidian.com/item.html?itemID=2113012295'
				}, {
					thumb: 'images/souvenir-6.jpg',
					name:  'Type is Beautiful · Tee',
					price: '¥99.00',
					link:  'https://weidian.com/item.html?itemID=2113035170'
				}, 
			]
		},
	}
