-
	var dataBody = {
		sponers: [
			{
				link: 'http://www.makefont.com/',
				logo: 'images/sponser-makefont.svg',
			}, {
				link: 'http://www.foundertype.com/',
				logo: 'images/sponser-founder.svg',
			}, {
				link: 'http://www.arphic.com/',
				logo: 'images/sponser-arphic.svg',
			}, {
				link: 'http://www.hanyi.com.cn/',
				logo: 'images/sponser-hanyi.svg',
			}, {
				link: 'http://www.monotype.com/',
				logo: 'images/sponser-monotype.svg',
			}
		],
		
		galleries: [
			[
				{
					img: 'images/gallery-update-1-1.jpg',
					caption: '沙龙设于「那行·零度空间」，藏于上海镇宁路的老弄堂'
				}, {
					img: 'images/gallery-update-1-2.jpg',
					caption: 'Florrie 和志愿者孙哲向签到的来宾赠送亲手焙制的纪念曲奇'
				}, {
					img: 'images/gallery-update-1-3.jpg',
					caption: '陈其瑞先生在二层展厅观看 TIB 成员的出版物及十周年纪念海报'
				}, {
					img: 'images/gallery-update-1-4.jpg',
					caption: 'Metaphox 从德国远道而来，主持沙龙开场，拉开活动序幕'
				}
			], [
				{
					img: 'images/gallery-update-2-1.jpg',
					caption: '主编 Rex 在白空间分享 TIB 的十年历程及未来规划'
				}, {
					img: 'images/gallery-update-2-2.jpg',
					caption: 'Eric 和争予在黑空间中现场直播《字谈字畅》特别节目'
				}, {
					img: 'images/gallery-update-2-3.jpg',
					caption: '厉致谦在渡桥上回顾 TypeTour 旅程，介绍 TypeSchool 新项目'
				}, {
					img: 'images/gallery-update-2-4.jpg',
					caption: '我们邀请现场来宾参与 Kern Type 游戏'
				}
			]
		],
		
		souvenir: {
			heading: '十周年纪念周边',
			list: [
				{
					thumb: 'images/souvenir-new-1.jpg',
					name:  'TIB10 · 纪念海报',
					price: '¥ 299',
					link:  'https://weidian.com/item.html?itemID=2112754402'
				}, {
					thumb: 'images/souvenir-new-2.jpg',
					name:  '上海活字 · Typeholder 海报',
					price: '¥ 299',
					link:  'https://weidian.com/item.html?itemID=2112838041'
				}, {
					thumb: 'images/souvenir-new-3.jpg',
					name:  '上海活字 · 铸字机海报',
					price: '¥ 299',
					link:  'https://weidian.com/item.html?itemID=2112836287'
				}, {
					thumb: 'images/souvenir-new-4.jpg',
					name:  '字谈字畅 · 播客主题海报',
					price: '¥ 299',
					link:  'https://weidian.com/item.html?itemID=2112779645'
				}, {
					thumb: 'images/souvenir-new-5.jpg',
					name:  '活字印刷明信片',
					price: '¥ 20',
					link:  'https://weidian.com/item.html?itemID=2113012295'
				}, {
					thumb: 'images/souvenir-new-6.jpg',
					name:  'Type is Beautiful · Tee',
					price: '¥ 99',
					link:  'https://weidian.com/item.html?itemID=2113035170'
				}, 
			]
		},
	}
