-
	var dataFooter = {
		copyright: '© 2007–2017, Type is Beautiful',
		desc: 'A leading media project about typography, design and visual culture in Chinese. Established in 2007, we cover the short reporting and long-form essays on the related fields.',
		
		tib: {
			logotype: 'assets/logotype.svg',
			slogan: '文字设计与视觉文化',
		},
	}
