-
	var dataHeader = {
		tib: {
			logotype: 'assets/logotype.svg',
			slogan: '文字设计与视觉文化',
		},
		tib10: {
			text: '2007–2017<br>Tenth Anniversary'
		},
		
		slideshow: [
			{
				img: 'images/slide-1.jpg'
			}, {
				img: 'images/slide-2.jpg'
			}, {
				img: 'images/slide-3.jpg'
			}, {
				img: 'images/slide-4.jpg'
			}, {
				img: 'images/slide-5.jpg'
			}, {
				img: 'images/slide-6.jpg'
			}, {
				img: 'images/slide-7.jpg'
			}, {
				img: 'images/slide-8.jpg'
			}, {
				img: 'images/slide-9.jpg'
			}, {
				img: 'images/slide-10.jpg'
			}, {
			//- 	img: 'images/slide-11.jpg'
			//- }, {
				img: 'images/slide-12.jpg'
			}
		],
	}
