-
	var dataHeader = {
		tib: {
			logotype: 'assets/logotype.svg',
			slogan: '文字设计与视觉文化',
		},
		tib10: {
			text: '2007–2017<br>Tenth Anniversary'
		},
		
		slideshow: [
			{
				img: 'images/slide-sample-1.jpg'
			}, {
				img: 'images/slide-sample-2.jpg'
			}, {
				img: 'images/slide-sample-3.jpg'
			}, {
				img: 'images/slide-sample-4.jpg'
			}, {
				img: 'images/slide-sample-5.jpg'
			}, {
				img: 'images/slide-sample-6.jpg'
			}
		],
	}
